* {
  padding: 0;
  margin: 0;
}
.green-text:hover {
  color: #28a745;
  cursor: pointer;
}
.green-text {
  color: #707070;
}
.xemthem:hover {
  background-color: #28a745 !important;
  color: white;
}
.sanpham {
  width: 100%;
  max-height: 33vh !important;
}

@media only screen and (max-width: 600px) {
  .sanpham {
    width: 100%;
    max-height: 20vh !important;
  }
}
